
@{
    ViewBag.Title = "Informatica";
    Layout = "~/Views/Shared/_LayoutWithNewMenu.cshtml";
}


<link rel="stylesheet" href="~/css/frio/owl.carousel.min.css">
<!-- Owl Default CSS -->
<link rel="stylesheet" href="~/css/frio/owl.theme.default.min.css">
<!-- Owl Magnific CSS -->
<link rel="stylesheet" href="~/css/frio/magnific-popup.min.css">
<!-- Animate CSS -->
<link rel="stylesheet" href="~/css/frio/animate.min.css">
<!-- Boxicons CSS -->
<link rel="stylesheet" href="~/css/frio/boxicons.min.css">
<!-- Flaticon CSS -->
<link rel="stylesheet" href="~/css/frio/flaticon.css">
<!-- Meanmenu CSS -->
<link rel="stylesheet" href="~/css/frio/meanmenu.css">
<!-- Odometer CSS-->
<link rel="stylesheet" href="~/css/frio/odometer.min.css">
<!-- Style CSS -->
<link rel="stylesheet" href="~/css/frio/style.css">
<link rel="stylesheet" href="~/css/frio/responsive.css">


<!-- Start About Area -->
<section class="about-section ptb-50">
    <div class="container-fluid">
        <div class="row">
            <header class="page-header">
                <div class="container">
                    <h1 class="title">Linea de Negocio : Sistemas</h1>
                </div>
            </header>
            <div class="col-sm-6 col-md-6 bottom-padding" style="text-align: justify">
                <div class="about-tab">
                    <div class="tab about-list-tab">
                        <ul class="tabs">
                            <li>
                                <a href="#">
                                    Análisis de sistemas
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Desarollo web
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Gestión de datos
                                </a>
                            </li>

                        </ul>

                        <div class="tab_content">
                            <div class="tabs_item">
                                <div class="text" style="text-align: justify">
                                    <p>
                                        El área de Sistemas de TIC INTEGRITY G&V S.A.C maneja de forma gerencial los vastos recursos de las tecnologías de la información para
                                        hacer inteligencia de negocios y resolver sus problemas, obteniendo resultados de alto valor y sacar
                                        conclusiones estratégicas para el crecimiento de sus organizaciones.
                                    </p>
                                    <ul>
                                        <li>Correcto modelamiento y metodología que apliquen mejores prácticas.</li>
                                        <li>Performance Point Server, Desarrollo de Dashboard y ScoreCards</li>
                                        <li>Modelamientos de DataMart </li>
                                        <li>Modelamiento de Cubos con Analysis Service 2005, 2008</li>
                                    </ul>
                                    <br />
                                    <a class="gallery-images" rel="fancybox" href="~/Content/equipamiento/equipos3.jpg">
                                        <img class="replace-2x" src="~/Content/equipamiento/equipos3.jpg" width="598" height="388" alt="">
                                        <span class="bg-images"><i class="fa fa-search"></i></span>
                                    </a>
                                </div>
                            </div>
                            <div class="tabs_item">
                                <div class="text" style="text-align: justify">
                                    <p>Las últimas tendencias en diseño son esenciales para crear un sitio web exitoso. </p>
                                    <p>
                                        Por eso nuestro equipo ofrece un maquetado teniendo en consideración la accesibilidad al website
                                        desde distintos dispositivos con distintos tamaños de pantalla lo que hace que cada experiencia
                                        dentro de nuestros diseños marque la diferencia en el mercado.
                                    </p>

                                    <br />
                                    <a class="gallery-images" rel="fancybox" href="~/Content/img/desarrollo-1.jpg">
                                        <img class="replace-2x" src="~/Content/img/desarrollo-1.jpg" width="598" height="388" alt="">
                                        <span class="bg-images"><i class="fa fa-search"></i></span>
                                    </a>
                                </div>
                            </div>
                            <div class="tabs_item">
                                <div class="text" style="text-align: justify">
                                    <p>
                                        La gestión de la información es un recurso estratégico vital. Aplicar un enfoque de ingeniería para transformar la información en conocimiento,
                                        optimizando las decisiones empresariales, es esencial en cualquier empresa. Un dato, que no cuenta con un proceso de análisis previo,
                                        no aporta nada para una gestión empresarial exitosa, es necesario trabajar con la información para obtener conocimiento y oportunidades
                                        que puedan llevar a la organización al éxito.
                                    </p>
                                    <ul>
                                        <li>Análisis de Rendimiento de Servidores de Bases de Datos SQL Server</li>
                                        <li>Migración de Servidores SQL Server</li>
                                        <li>Modelamientos de Bases de Datos</li>
                                        <li>Buenas Prácticas para Desarrolladores/ Administradores SQL Server.</li>
                                    </ul>
                                    <br />
                                    <a class="gallery-images" rel="fancybox" href="~/Content/cableado/cableado1.jpg">
                                        <img class="replace-2x" src="~/Content/cableado/cableado1.jpg" width="598" height="388" alt="">
                                        <span class="bg-images"><i class="fa fa-search"></i></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottom-padding col-sm-6 col-md-6">
                <div class="title-box">
                    <h2 class="title">Sistemas</h2>
                </div>
                <div class="progress progress-striped active" data-appear-progress-animation="80%">
                    <div class="progress-bar progress-bar-warning">Sistema de Tramite documentario 80%</div>
                </div>

                <div class="progress progress-striped active" data-appear-progress-animation="70%">
                    <div class="progress-bar progress-bar-danger">Sistema de Gestión Académica Administrativa para la Escuela Nacional de la Marina Mercante 70%</div>
                </div>

                <div class="progress progress-striped active" data-appear-progress-animation="40%">
                    <div class="progress-bar progress-bar-success">Sistema Logísticos Operacionales 40%</div>
                </div>

                <div class="progress progress-striped active" data-appear-progress-animation="58%">
                    <div class="progress-bar progress-bar-info">Sistema de almacén 58%</div>
                </div>

                <div class="progress progress-striped active no-margin" data-appear-progress-animation="60%">
                    <div class="progress-bar">Sistema de Recursos Humanos y Planillas 60%</div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- End About Area -->
<!-- End About Area -->
<!-- Jquery Slim JS -->
<script src="~/js/frio/jquery.min.js"></script>
<!-- Bootstrap JS -->
<script src="~/js/frio/bootstrap.bundle.min.js"></script>
<!-- Meanmenu JS -->
<script src="~/js/frio/jquery.meanmenu.js"></script>
<!-- Owl Carousel JS -->
<script src="~/js/frio/owl.carousel.min.js"></script>
<!-- Magnific JS -->
<script src="~/js/frio/jquery.magnific-popup.min.js"></script>
<!-- Appear JS -->
<script src="~/js/frio/jquery.appear.min.js"></script>
<!-- Odometer JS -->
<script src="~/js/frio/odometer.min.js"></script>
<!-- Form Ajaxchimp JS -->
<script src="~/js/frio/jquery.ajaxchimp.min.js"></script>
<!-- Form Validator JS -->
<script src="~/js/frio/form-validator.min.js"></script>
<!-- Contact JS -->
<script src="~/js/frio/contact-form-script.js"></script>
<!-- Wow JS -->
<script src="~/js/frio/wow.min.js"></script>
<!-- Custom JS -->
<script src="~/js/frio/main.js"></script>


