
@{
    ViewBag.Title = "Soluciones";
    Layout = "~/Views/Shared/_LayoutWithNewMenu.cshtml";
}
<link rel="stylesheet" href="~/css/frio/owl.carousel.min.css">
<!-- Owl Default CSS -->
<link rel="stylesheet" href="~/css/frio/owl.theme.default.min.css">
<!-- Owl Magnific CSS -->
<link rel="stylesheet" href="~/css/frio/magnific-popup.min.css">
<!-- Animate CSS -->
<link rel="stylesheet" href="~/css/frio/animate.min.css">
<!-- Boxicons CSS -->
<link rel="stylesheet" href="~/css/frio/boxicons.min.css">
<!-- Flaticon CSS -->
<link rel="stylesheet" href="~/css/frio/flaticon.css">
<!-- Meanmenu CSS -->
<link rel="stylesheet" href="~/css/frio/meanmenu.css">
<!-- Odometer CSS-->
<link rel="stylesheet" href="~/css/frio/odometer.min.css">
<!-- Style CSS -->
<link rel="stylesheet" href="~/css/frio/style.css">
<link rel="stylesheet" href="~/css/frio/responsive.css">

<!-- Start About Area -->
<section class="about-section ptb-50">
    <div class="container-fluid">
        <div class="row">
            <header class="page-header">
                <div class="container">
                    <h1 class="title">Linea de Negocio : Soluciones Integradas</h1>
                </div>
            </header>
            <div class="col-sm-6 col-md-6 bottom-padding" style="text-align: justify">
                <div class="about-tab">
                    <div class="tab about-list-tab">
                        <ul class="tabs" style="text-align: justify">
                            <li>
                                <a href="#">Plataforma de Virtualización </a>
                            </li>
                            <li>
                                <a href="#">Soluciones de Almacenamiento </a>
                            </li>
                            <li>
                                <a href="#">Soluciones de Respaldo</a>
                            </li>
                            <li>
                                <a href="#">Soluciones de Almacenamiento </a>
                            </li>
                        </ul>

                        <div class="tab_content">
                            <div class="tabs_item">
                                <div class="text" style="text-align: justify">
                                    <p>
                                        El cableado estructurado es un enfoque sistemático del cableado. Es un método para crear un sistema de cableado organizado que pueda ser fácilmente comprendido por los instaladores, administradores de red y cualquier otro técnico que trabaje con cables.
                                    </p>
                                    <br />
                                    <a class="gallery-images" rel="fancybox" href="~/Content/virtualizacion/virtual2.png">
                                        <img class="replace-2x" src="~/Content/virtualizacion/virtual2.png" width="598" height="388" alt="">
                                        <span class="bg-images"><i class="fa fa-search"></i></span>
                                    </a>
                                </div>
                            </div>
                            <div class="tabs_item">
                                <div class="text" style="text-align: justify">

                                    <a class="gallery-images" rel="fancybox" href="~/Content/storage/storage1.jpg">
                                        <img class="replace-2x" src="~/Content/storage/storage1.jpg" width="598" height="388" alt="">
                                        <span class="bg-images"><i class="fa fa-search"></i></span>
                                    </a>
                                </div>
                            </div>
                            <div class="tabs_item">
                                <div class="text" style="text-align: justify">
                                    <a class="gallery-images" rel="fancybox" href="~/Content/backup/respaldo1.jpg">
                                        <img class="replace-2x" src="~/Content/backup/respaldo1.jpg" width="598" height="388" alt="">
                                        <span class="bg-images"><i class="fa fa-search"></i></span>
                                    </a>
                                </div>
                            </div>
                            <div class="tabs_item">
                                <div class="text" style="text-align: justify">
                                    <p>Implementamos soluciones de red basado en computadoras, cuya alta disponibilidad genera grandes ventajas competitivas para las actividades empresariales.</p>
                                    <br />
                                    <a class="gallery-images" rel="fancybox" href="~/Content/videoconferencia/video1.jpg">
                                        <img class="replace-2x" src="~/Content/videoconferencia/video1.jpg" width="598" height="388" alt="">
                                        <span class="bg-images"><i class="fa fa-search"></i></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-6">
                <div class="col-sm-6  bottom-padding">
                    <div class="progress border-radius">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="70"
                             aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                            Escalables
                        </div>
                    </div>

                    <div class="progress border-radius">
                        <!--data-appear-progress-animation="40%"-->
                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="40"
                             aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                            Modulares
                        </div>
                    </div>

                    <div class="progress border-radius">
                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="90"
                             aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                            Eficientes
                        </div>
                    </div>

                    <div class="progress border-radius">
                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="58"
                             aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                            Plataforma Segura
                        </div>
                    </div>
                    <div class="progress border-radius">
                        <div class="progress-bar progress-bar-darkgrey" role="progressbar" aria-valuenow="70"
                             aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                            Infraestructura Segura
                        </div>
                    </div>
                </div>
                <!-- .employee -->

                <div class="col-sm-6  progress-circular bottom-padding bottom-padding-mini" data-appear-animation="fadeInLeftBig">
                    <input type="text" class="knob" value="0" rel="100" data-linecap="round" data-width="200" data-bgcolor="#FFFFFF"
                           data-fgcolor="#037ac5" data-thickness=".15" data-readonly="true" disabled="">
                    <p>Soluciones integradas</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- End About Area -->
<!-- Jquery Slim JS -->
<script src="~/js/frio/jquery.min.js"></script>
<!-- Bootstrap JS -->
<script src="~/js/frio/bootstrap.bundle.min.js"></script>
<!-- Meanmenu JS -->
<script src="~/js/frio/jquery.meanmenu.js"></script>
<!-- Owl Carousel JS -->
<script src="~/js/frio/owl.carousel.min.js"></script>
<!-- Magnific JS -->
<script src="~/js/frio/jquery.magnific-popup.min.js"></script>
<!-- Appear JS -->
<script src="~/js/frio/jquery.appear.min.js"></script>
<!-- Odometer JS -->
<script src="~/js/frio/odometer.min.js"></script>
<!-- Form Ajaxchimp JS -->
<script src="~/js/frio/jquery.ajaxchimp.min.js"></script>
<!-- Form Validator JS -->
<script src="~/js/frio/form-validator.min.js"></script>
<!-- Contact JS -->
<script src="~/js/frio/contact-form-script.js"></script>
<!-- Wow JS -->
<script src="~/js/frio/wow.min.js"></script>
<!-- Custom JS -->
<script src="~/js/frio/main.js"></script>