
@{
    ViewBag.Title = "_NewMenu";
}

<h2>_NewMenu</h2>

<ul>
    <li><a href="@Url.Action("Index", "Portal")">Home</a></li>
    <li><a href="@Url.Action("Sistemas", "Portal")">Sistemas</a></li>
    <li><a href="@Url.Action("Soluciones", "Portal")">Soluciones</a></li>
    <!-- Agrega más elementos del menú aquí -->
</ul>